@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
html, body, #root {
    background-color: #111827;
    color: white;
}

* {
    font-family: 'Jockey One', sans-serif !important;
}

.MuiButton-contained {
    background-color: #1B3C53 !important;
    border-color: #00ffcc !important;
}

.container {
    display: flex;
    flex-wrap: wrap; /* wrap items on small screens */
    justify-content: center;
    gap: 1rem;
}

/* Each item */
.item {
    flex: 1 1 300px; /* shrink/grow, minimum 300px */
    max-width: 400px;
}